* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header,
footer {
  background-color: #ccc;
  padding: 20px 0;
}

h1.titulo {
  font-size: 2.3rem;
  padding: 0 10px;
  margin-left: 0;
}

.header-container,
.footer-container {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav.menu {
  position: absolute;
  top: 110px;
  right: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 0 0 15px;
}

nav li a {
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  font-size: 22px;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c78c19;
  transition: all 0.2s ease;
}

main {
  padding: 60px 0;
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
}

.produtos {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
}

.produtos li {
  display: inline-block;
  text-align: center;
  border: 3px solid #000;
  width: 30%;
  vertical-align: top;
  padding: 30px 20px;
  border-radius: 10px;

  margin: 0 1.5%;
  transition: all 0.3s ease-in-out;
}

.produtos li:hover {
  border-color: #c78c19;
  cursor: pointer;
  transform: scale(1.06);
}

.produtos li:active {
  border-color: #c78c19;
  cursor: pointer;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 0;
}

.produto-desc {
  font-size: 18px;
  font-weight: 500;
}

.produtos img {
  margin: 0 auto;
}

footer {
  background-image: url(assets/image/bg.jpg);
}

.footer-container {
  text-align: center;
}

footer .footer-container p {
  color: #fff;
}

footer .footer-container p:last-child,
a {
  font-size: 13px;
  margin-top: 6px;
  color: #c78c19;
}

footer .footer-container a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}

footer .img-footer {
  width: 115px;
}

/* FORM */
form {
  width: 50%;
  margin: 40px 0;
}

form label,
form p {
  display: block;
  font-size: 18px;
  margin: 0 0 10px;
  font-weight: bold;
}

.input-padrao {
  width: 80%;
  padding: 10px 25px;
  margin: 0 0 20px;
}

.news {
  margin: 20px 0;
}
/* maps */
.container {
  display: flex;
  align-items: center;
  /* padding: 10px; */
}

.map-frame {
  width: 50%;
}

fieldset {
  width: 375px;
  padding: 10px;
  border: 0;
}

.submit-btn {
  color: #fff;
  background: #000;
  border: none;
  padding: 15px 20px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #c78c19;

  /* outline-offset: -1px; */
  outline: 2px solid #161514;
}

.img-align {
  display: flex;
  flex-direction: column;
}

/* Table area */

table {
  margin: 20px 40px;
}

table thead {
  background-color: #555555;
  color: #fff;
  font-weight: bold;
}

table td,
th {
  border: 1px solid #000;
  padding: 10px 15px;
}
