* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section.about {
  background: #ccc;
  padding: 30px;
}

#banner {
  width: 100%;
}
h1.titulo {
  font-size: 2.5em;
  padding: 20px;
}

.titulo-centralizado {
  text-align: center;
  padding: 15px;
}

section.beneficios {
  background: #fff;
  padding: 70px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

ul.itens li {
  font-style: italic;
}

.imgBeneficios {
  width: 50%;
}
