* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
footer {
  background: #ccc;
  padding: 20px 0;
}

.header-container,
.footer-container {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav.menu {
  position: absolute;
  top: 110px;
  right: 0;
  text-align: center;
}

nav.menu ul li {
  margin: 0 0 0 15px;
  display: inline-block;
}

nav li a {
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  font-size: 22px;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c78c19;
  transition: all 0.2s ease;
}

section.about {
  background: #ccc;
  padding: 30px 60px;
  text-align: center;
  min-height: 300px;
}

#banner {
  width: 100%;
}

h1.titulo {
  font-size: 2.3rem;
  padding: 0 10px;
  margin-left: 0;
}

.titulo-centralizado {
  text-align: center;
  padding: 15px;
}

section.beneficios {
  background: #fff;
  padding: 70px;
}

.beneficios ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

ul.itens li {
  font-style: italic;
}

.imgBeneficios {
  width: 50%;
}

/* footer */

footer {
  background-image: url(assets/image/bg.jpg);
}

.footer-container {
  text-align: center;
}

footer .footer-container p {
  color: #fff;
}

footer .footer-container p:last-child,
a {
  font-size: 13px;
  margin-top: 6px;
  color: #c78c19;
}

footer .footer-container a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}

footer .img-footer {
  width: 115px;
}
